<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

<h1 style="text-align:center;">site.static_files</h1><hr>
<div class="container">
    <table class="table table-info table-striped" style="text-align:center;">
        <tr>
            <th scope="col">file.name</th>
            <th scope="col">file.basename</th>
            <th scope="col">file.extname</th>
            <th scope="col">file.path</th>
            <th scope="col">file.image</th>
        </tr>
        {% for file in site.static_files %}
            <tr>
                <td scope="row" style="color:black">{{ file.name }} {% if file.image %}(img){% endif %}</td>
                <td scope="row" style="color:black">{{ file.basename }}</td>
                <td scope="row" style="color:black">{{ file.extname }}</td>
                <td scope="row" style="color:black">{{ file.path }}</td>
                {% if file.image %}
                    <td scope="row" style="color:black"><img src="{{ file.path }}" alt="{{ file.name }}" width="400" height="400"></td>
                {% else %}
                    <td scope="row" style="color:black"></td>
                {% endif %}
                
            </tr>
        {% endfor %}
    </table>
</div>